*{
    margin: 0;
    padding: 0;
}

#maincontent {
      background-color: rgba(208, 60, 10, 0.848);
}

.subcontent{
    
      background-color: rgb(203, 244, 20);
      border: solid blue 2px;
      width: 50%;
      height: 50cm;
      text-align: center;
}

#kofi{
    background-color: rgb(214, 35, 35);
}

#head{
    font-weight: bold;
    font-size: 300%;
}